<app-navbar (scrollToRequest)="handleScroll($event)"></app-navbar>


<section id="hero">
  <app-hero (vamosComecar)="mostrarConteudoPrincipal()"></app-hero>
</section>


<main>
  <div class="conteudo-bloco" *ngIf="conteudoVisivel" id="conteudo-principal">


    <section id="sobre-nos">
      <app-about></app-about>
    </section>


    <app-cta (agendarConsulta)="abrirChat()"></app-cta>


    <section id="contato">
      <app-contato *ngIf="mostrarContato"></app-contato>
    </section>

  </div>
</main>


<app-chat *ngIf="chatAberto" (fechar)="fecharChat()"></app-chat>

<router-outlet></router-outlet>
