venv/
.venv/
rasa_venv/
**/venv*/
**/.venv*/

node_modules/

.env
**/.env
.env.*
*.env

__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.rasa/
.rasa_cache/
rasa/models/*.tar.gz
results/

# angular
build/
dist/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.idea/
.vscode/

.DS_Store
Thumbs.db